<!doctype html>
<html ng-app="app">
<head>
<script>document.write('<base href="' + document.location + '" />');</script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="script.js"></script>
<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="AppController">

    <section>
        <div ng-controller="AppController">
            <button class="ui-button" ng-click="toggle()">Toggle disabledState: {{disabledState}}</button>
            <br>
            <button class="ui-button" href="#" ui-disabled="disabledState" ng-click="go()">Test button</button>
            <a class="ui-button" href="http://google.com" target="_blank" ui-disabled="disabledState" ng-click="go()" >Test link</a>
        </div>
    </section>

</body>
</html>